# Requirements file for external linters and checks we run on
# Tools/clinic, Tools/cases_generator/, and Tools/peg_generator/ in CI
mypy==1.13

# needed for peg_generator:
types-psutil==6.1.0.20241221
types-setuptools==69.5.0.20240423
